<div class="notification-container" *ngIf="notificationMessage">
  <p class="notification-message">{{ notificationMessage }}</p>
  <button class="close-button" (click)="closeNotification()">×</button>
</div>
<div class="toggle-container">
  <i class="fa-solid fa-table-cells-large"></i>
  <mat-slide-toggle [(ngModel)]="isList" labelPosition="before" class="view-toggle">
  </mat-slide-toggle>
  <i class="fa-solid fa-list"></i>
</div>
  <div *ngIf="isList">
    <app-task-list></app-task-list>
  </div>
  <div *ngIf="!isList">
    <app-task-grid></app-task-grid>
  </div>
  