<div>
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{ task.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <p><span class="left-text">Id:</span> {{task.id}}</p>
          <p><span class="left-text">Description:</span> {{ task.description }}</p>
          <div class="task-container">
            <div class="task-details">
              <p><span class="left-text">Status:</span> 
                <span [ngClass]="{
                  'status-to-do': task.status === 'To do',
                  'status-in-progress': task.status === 'In Progress',
                  'status-done': task.status === 'Done'
                }"> {{ task.status }}</span>
              </p>
              <p><span class="left-text">Assigned To:</span> {{ task.assignedTo }}</p>
            </div>
            <div class="task-actions">
              <mat-card-actions class="action-buttons">
                <button mat-icon-button color="primary" class="edit-button" (click)="editTask(task)">
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button mat-icon-button color="warn" class="delete-button" (click)="deleteTask(task.id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </mat-card-actions>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>