<app-filter (statusSelected)="handleStatusSelected($event)"></app-filter>
<div *ngFor="let task of filteredTasks" class="task-item">
    <div class="task-name">{{ task.name }}</div>
    <p>Id: {{task.id}}</p>
          <p>Description: {{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <p>Assigned To: {{ task.assignedTo }}</p>
    <div class="task-actions">
        <button mat-icon-button color="primary" (click)="editTask(task)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    
  </div>